<ons-page ng-controller="EditProfileCtrl as eprf" id="EditProfileCtrl">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="nav.back()">
                Close
            </ons-toolbar-button>
        </div>
        <div class="center">Edit Profile</div>
        <div class="right">
            <ons-toolbar-button ng-click="eprf.submitUser()">Done</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>

        <ons-list-header class="blank-header">Your Details</ons-list-header>

        <ons-list-item class="input-field--edit">
            <ons-icon icon="ion-ios7-person-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="text" placeholder="Name" ng-model="eprf.user.displayName">
        </ons-list-item>

        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-home-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="text" placeholder="Tell us about yourself?" ng-model="eprf.user.bio">
        </ons-list-item>

        <ons-list-header class="blank-header">Personal Stuff</ons-list-header>

        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-paperplane-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="email" placeholder="Email" ng-model="eprf.user.email">
        </ons-list-item>

        <ons-list-item class="input-field--edit">
            <div ng-switch="eprf.isValidNumber">
                <ons-icon class="list-icon" icon="ion-ios7-telephone-outline icon-success" size="25px" style="padding: 5px 5px 5px 0;" ng-click="nav.goto('editTelCtrl', {animation: 'lift'})" ng-model="eprf.selectedCountry" ng-switch-when="true"></ons-icon>
                <ons-icon class="list-icon" icon="ion-ios7-telephone-outline icon-danger" size="25px" style="padding: 5px 5px 5px 0;" ng-click="nav.goto('editTelCtrl', {animation: 'lift'})" ng-model="eprf.selectedCountry" ng-switch-when="false"></ons-icon>
            </div>
            <input class="text-input text-input--underbar" name="phone" type="text" min="5" inputmode="numeric" pattern="[0-9]*"
                placeholder="{{eprf.selectedCountry.phoneNumber}}" ng-model="eprf.user.phone" ng-change="eprf.checkNumber()">
        </ons-list-item>

        <ons-list-item class="prop-desc" modifier="tappable" ng-click="nav.goto('editTelCtrl', {animation: 'lift'})">
            <ons-icon icon="ion-ios7-navigate-outline" size="25px" style="padding: 5px 5px 5px 0"></ons-icon>
            Select country ({{eprf.selectedCountry.countryISO | uppercase}})
        </ons-list-item>

        <ons-list-header class="blank-header"><!-- Blank on purpose --></ons-list-header>

        <ons-list-item class="prop-desc" modifier="chevron" ng-click="nav.goto('updatePasswordCtrl')">
            <ons-icon icon="ion-ios7-locked-outline" size="25px"></ons-icon>
            Update password
        </ons-list-item>

    </ons-list>

</ons-page>
