<div ng-controller="MapCtrl as map">

    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">Map</div>
            <div class="right">
                <ons-toolbar-button ng-click="map.proceed()">Next</ons-toolbar-button>
            </div>
        </ons-toolbar>

        <!-- Google map set with defauls -->
        <map class="map animated fadeIn fade-in-slow" center="-34.397, 150.644" zoom="8"></map>

        <div class="search-bar">
            <input type="search" class="search-input search-input-map">
        </div>

        <button class="location-finder" ng-click="map.updateCurrentLocation()">
            <ion-icon class="ion-navigate" style="font-size:"></ion-icon>
        </button>

        <div class="map-back-button">
            <ons-button class="button--clear margin-top button-cyclinder button--map" ng-click="map.proceed()">Find ride</ons-button>
        </div>

    </ons-page>

</div>