<ons-page ng-controller="ResetPasswordCtrl as rest">

    <ons-toolbar>
      <div class="left"><ons-toolbar-button ng-click="nav.setRootPage('authCtrl')">Close</ons-toolbar-button></div>
      <div class="center">Reset Password</div>
      <div class="right"><ons-toolbar-button ng-click="rest.resetPass()" ng-if="rest.email">Reset</ons-toolbar-button></div>
    </ons-toolbar>

    <ons-list>

        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-paperplane-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input" type="email" ng-model="rest.email" placeholder="Enter your email...">
        </ons-list-item>

    </ons-list>
    <p class="text-muted text-center small padd-sm">We'll send you an email once we recieve your email with instructions on how to reset it.</p>

</ons-page>
