<ons-page ng-controller="UpdatePasswordCtrl as upas">

    <ons-toolbar>
        <div class="left">
            <ons-back-button>Edit</ons-back-button>
        </div>
        <div class="center">Update Password</div>
        <div class="right">
            <ons-toolbar-button ng-click="upas.updatePass()" ng-if="upas.newPassword2">Update</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>

        <ons-list-header class="blank-header">Current Password</ons-list-header>
        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-unlocked-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="password" ng-model="upas.oldPassword" placeholder="Current password">
        </ons-list-item>

        <ons-list-header class="blank-header">New Password</ons-list-header>
        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-locked-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="password" ng-model="upas.newPassword" placeholder="New password">
        </ons-list-item>

        <ons-list-item class="input-field--edit">
            <ons-icon class="list-icon" icon="ion-ios7-locked-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
            <input class="text-input text-input--underbar" type="password" ng-model="upas.newPassword2" placeholder="New password, again">
        </ons-list-item>

    </ons-list>
</ons-page>
