.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
  background-color: qantas-red;
}

.ui-progressbar-value {
    transition: width 5s;
    -webkit-transition: width 5s; /* Safari */
}