.confirm
    .page__content
        // background-color: brand-blue
        background-image url("ASSET{images/sydney.png}") !important
        background-size cover !important
        background-position center !important
        background-repeat no-repeat !important
        // color white !important
        // text-align center !important
        // height 100vh !important
        // justify-content center !important
        // align-items center !important

        .text-input
            background none

        ons-button
            color white
            &:active
                color rgba(white, .75)
                background-color: transparent !important;

        .button--clear:active
            background-color rgba(white, .2)
            color rgba(white, .2)
            opacity 1