.map
    position absolute
    height 94vh !important
    width 100%
    margin 0
    padding 0
    z-index -1

.search-input-map
    width 80%
    z-index 1
    margin-left auto
    margin-right auto
    margin-top 50px
    box-shadow rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px

.search-bar
    margin-top 10%

.map-back-button
    position absolute
    margin-left auto
    margin-right auto
    margin-top 50px
    right 31%
    bottom 40px

.location-finder
    position absolute
    bottom 40px
    right 20px
    padding 11px 13px 9px 11px
    border-radius 100%
    text-align center
    background #353752
    box-shadow rgba(0,0,0,0.298) 0px 1px 4px -1px
    color white
    border 1px solid white
    font-size 18px