.page--menu-page__background
    background -webkit-linear-gradient(end-grad-blue, begin-grad-blue) !important /* For Safari 5.1 to 6.0 */
    background -o-linear-gradient(end-grad-blue, begin-grad-blue) !important /* For Opera 11.1 to 12.0 */
    background -moz-linear-gradient(end-grad-blue, begin-grad-blue) !important /* For Firefox 3.6 to 15 */
    background linear-gradient(end-grad-blue, begin-grad-blue) !important /* Standard syntax */

.page--menu-page__content
    color white

.menu-close,
.menu-close > .toolbar-button
    color #999

.menu-list,
.menu-item:first-child,
.menu-item:last-child,
.menu-item
    background-color transparent
    background-image none !important
    border-color transparent
    color #fff

.menu-item
    padding 0 0 0 20px
    line-height 52px
    height 52px
    text-shadow rgba(0, 0, 0, 0.4) 0px 1px 0px
    &:active
        background-color rgba(255, 255, 255, 0.1)

.menu-notification
    display inline-block
    margin-top 12px
    font-size 14px
    height 16px
    line-height 16px
    min-width 16px
    font-weight 600

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item:last-child,
.bottom-menu-item
    border-color transparent
    background-color transparent
    background-image none !important
    color #ccc

.bottom-menu-item
    &:active
        background-color rgba(255, 255, 255, 0.1)

.notify-badge
    display: inline-flex
    font-size: 10px
    height: 14px
    line-height: 14px
    min-width: 8px
    font-weight: 600
    padding: 0 3px
    background: white
    color: red
    border-radius: 50px
    align-content: center
    justify-content: center

    .menu-list &,
    .bottom-menu-list &
        position: absolute
        top: 3px
        left: 38px
        background: brand-blue
        color: white

    .toolbar-button &
        position: absolute
        bottom: 20px
        left: 21px