ons-carousel-item
    display table
    text-align center

.item-label
    display table-cell
    vertical-align middle
    color white
    line-height 1
    font-size 48px
    font-weight bold

.cover-label
    text-align center
    position absolute
    left 0px
    width 100%
    bottom 10px

.item-image
    height 50vh

.carousel
    background-color white

.carousel-text
    padding 0 70px