.profile-wrapper
  padding 16px 10px 0 10px

.profile-name
  font-size 18px
  padding 0 0 2px 0

.prop-desc ons-icon, a.prop-desc ons-icon
    vertical-align -5px !important

.profile-name--avatar
  margin 6px 0 0 0
  font-weight 600
  font-size 17px

.profile-email
  font-size 15px
  opacity 0.4

.switch--list-item
  margin-right 0px

.settings-header
  font-weight 500
  font-size 14px
  opacity 0.4
  padding 10px
  margin-bottom -4px

.settings-list
  margin-bottom 10px !important
  width 100%