<ons-page ng-controller="settingsStartOfWeekCtrl as sowk">>

    <ons-toolbar>
        <div class="left">
            <ons-back-button>Settings</ons-back-button>
        </div>
        <div class="center">Start of Week</div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header class="blank-header"><!-- Blank on purpose --></ons-list-header>

        <ons-list-item modifier="tappable" ng-repeat="day in sowk.week">
            <label class="radio-button radio-button--list-item">
                {{day | date:'EEEE'}}
                <input type="radio" value="{{day.getDay()}}" ng-model="sowk.selectedDay">
                <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            </label>
        </ons-list-item>

    </ons-list>

</ons-page>