<div ng-controller="ArriveTimeCtrl as arri">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">Arrival Time</div>
            <div class="right">
                <ons-toolbar-button ng-show="arri.value" ng-click="arri.submitAmount()">
                    Next
                </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div class="removeElement">
            <div class="textOne padd text-muted text-center">
                <p>How many hours before your flight
                would you like to arrive at the airport?</p>
            </div>

            <div class="text-center">
                <ons-button class="buttonOne button--clear margin-top button-radius-thin margin-md" ng-click="arri.submitValue(60)">1</ons-button>
                <ons-button class="buttonTwo button--clear margin-top button-radius-thin margin-md" ng-click="arri.submitValue(120)">2</ons-button>
            </div>

            <div class="text-center">
                <ons-button class="buttonThree button--clear margin-top button-radius-thin margin-md" ng-click="arri.submitValue(180)">3</ons-button>
                <ons-button class="buttonFour button--clear margin-top button-radius-thin margin-md" ng-click="arri.submitValue()">4</ons-button>
            </div>

            <div class="textTwo text-muted padd text-center">
                <p>You're selected flight is scheduled to leave in
                at <span class="strong">{{arri.finalTime}}</span></p>
                <span class="small">{{arri.timeRemaining}}</span></p>
            </div>

        </div>
    </ons-page>
</div>
