<ons-page ng-controller="AuthCtrl as wlcm">
    <style>
        .page__content { margin-top: 0px; }
    </style>

    <div class="welcome">
        <div class="welcome__inner">
            <div class="auth-form-container">
                <div class="pre-login-form margin-btm" ng-if="!wlcm.toShow" ng-animate=" 'animate' ">
                    <p style="font-size: 16px;" class="animated bounceInLeft">Qantas to the Door is the easiest way to
                    get from where you are to where you want to be.</p>

                    <ons-button modifier="large padd-btm-md" class="button--clear button-cyclinder animated bounceInRight"
                        type="button" ng-click="wlcm.toShow = 'reg'">Register</ons-button>

                    <ons-button modifier="large--quiet" class="button--bs animated fadeIn"
                        type="button" ng-click="wlcm.toShow = 'login'">Already have an account? Login</ons-button>
                </div>

                <!-- LOG IN -->

                <div class="login-form login-form--login" ng-if="wlcm.toShow === 'login'" ng-animate=" 'animate' ">
                    <form ng-submit="wlcm.loginSubmit()" name="loginForm" autocomplete="off">

                        <input style="display:none" type="text" name="fakeusernameremembered"/>
                        <input style="display:none" type="password" name="fakepasswordremembered"/>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.email"
                                    type="email" placeholder="Email" id="LoginEmail"
                                    ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.loginSubmit()" required>
                            <label for="LoginEmail">Email</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.password"
                                type="password" placeholder="Password" id="LoginPassword"
                                ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.loginSubmit()" required>
                            <label for="LoginPassword">Password</label>
                        </div>

                        <ons-button modifier="large" class="button--clear margin-top button-cyclinder"
                            ng-disabled="loginForm.$invalid || loginForm.$pending" type="button" ng-click="wlcm.loginSubmit()">Log in</ons-button>
                    </form>

                    <ons-button modifier="large--quiet" class="button--bs padd-top-md" type="button" ng-click="wlcm.toShow = 'reg'">Haven't registered yet?</ons-button>
                </div>

                <!-- END LOG IN -->

                <!-- START REGISTER -->

                <div class="login-form login-form--reg" ng-if="wlcm.toShow === 'reg'" ng-animate=" 'animate' ">
                    <form name="regForm" ng-submit="wlcm.registerSubmit()" autocomplete="off">

                        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                        <input style="display:none" type="text" name="fakeusernameremembered"/>
                        <input style="display:none" type="password" name="fakepasswordremembered"/>
                        <input style="display:none" type="email" name="fakeemailremembered"/>

                        <!-- TODO: replace floatfield with a directive -->

                        <div class="floatfield">
                            <input class="text-input text-input--underbar"
                                ng-model="wlcm.given_name" ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()" type="text"
                                placeholder="First name" id="RegisterText" required>
                            <label for="RegisterText">First name</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.surname" ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()" type="text" placeholder="Last name" id="RegisterText" required>
                            <label for="RegisterText">Last name</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" name="n" type="text" min="5"
                                inputmode="numeric" pattern="[0-9]*" placeholder="Mobile number"
                                ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()"
                                ng-model="wlcm.phone" ng-change="wlcm.onPhoneNumberChange()" ng-click="wlcm.onPhoneNumberChange()" required>
                          <label for="RegisterPhone">Mobile number</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.email" ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()" type="email" placeholder="Email" id="RegisterEmail" required>
                            <label for="RegisterEmail">Email</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.password"
                            ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()"
                            type="password" placeholder="Password" id="RegisterPassword" required>
                            <label for="RegisterPassword">Password</label>
                        </div>

                        <div class="floatfield">
                            <input class="text-input text-input--underbar" ng-model="wlcm.passwordConfirm"
                            ng-keydown="($event.which === 13 || $event.which === 32) && wlcm.registerSubmit()"
                            type="password" placeholder="Confirm password" id="RegisterPasswordConfirm" required>
                            <label for="RegisterPasswordConfirm">Confirm password</label>
                        </div>

                        <ons-button modifier="large" class="button--clear margin-top button-cyclinder" type="button" ng-disabled="regForm.$invalid || regForm.$pending"
                            ng-click="wlcm.registerSubmit()">Register</ons-button>
                    </form>

                    <ons-button modifier="large--quiet" class="button--bs padd-top-md" ng-click="wlcm.toShow = 'login'">Already have an account? Login</ons-button>
                </div>
                <!-- END REGISTER -->
            </div>
        </div>
    </div>
</ons-page>
