<ons-page ng-controller="CalendarSettingsCtrl as sett">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="nav.back()">
                Close
            </ons-toolbar-button>
        </div>
        <div class="center">Calendar Settings</div>
        <div class="right">
            <ons-toolbar-button ng-click="sett.submitCalendarSettings()">Done</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list-header class="blank-header">Calendar Name</ons-list-header>

    <ons-list-item class="input-field--edit">
        <ons-icon class="list-icon" icon="ion-ios7-calendar-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
        <input class="text-input text-input--underbar" type="text" placeholder="Calendar Name" ng-model="sett.calendarName">
    </ons-list-item>

    <ons-list-header class="blank-header">Event Title</ons-list-header>

    <ons-list-item class="input-field--edit">
        <ons-icon class="list-icon" icon="ion-ios7-calendar-outline" size="25px" style="padding: 5px 5px 5px 0;"></ons-icon>
        <input class="text-input text-input--underbar" type="text" placeholder="Event Title" ng-model="sett.calendarTitle">
    </ons-list-item>

    <div class="contain padd-sm">
        <p class="text-center text-muted small">You can choose the calendar name and event title here.</p>
    </div>

</ons-page>