<ons-page ng-controller="DateOfFlightCtrl as date">
    <ons-toolbar>
        <div class="left">
            <shifts-left-button></shifts-left-button>
        </div>

        <div class="center animated fadeIn">Date of Flight</div>

        <div class="right"><ons-toolbar-button ng-click="date.findFlights()">Next</ons-toolbar-button></div>

    </ons-toolbar>

    <div class="padd text-muted text-center animated fadeIn">
        <p>What date are you travelling?</p>
    </div>

    <div class="add">
    <p class="padd-left-right text-muted animated bounceInLeft semi-bold">{{date.month}}</p>
        <div class="add__week week-wrap animated bounceInRight" ng-if="!date.isEditing">
            <div class="week" shifts-week-scroller="date.selectedDayIndex">
                <div class="week__day"
                    ng-class="{
                        'week__day--selected': date.selectedDayIndex == index,
                        'week__day--working': date.hasShift(day),
                        'week__day--invalid': day.isValid === false
                    }"
                    ng-if="date.schedule.length > 0" ng-click="date.selectDay(index)" ng-repeat="(index, day) in date.schedule">
                    <div class="week__background"></div>
                    <div class="week__title">{{day.day | date:'EEE'}}</div>
                    <div class="week__number">{{day.day | date:'d'}}</div>
                </div>
            </div>
        </div>
    </div>



</ons-page>
