<div ng-controller="FlightSummaryCtrl as summ">
    <ons-page>
        <ons-toolbar modifier="transparent">
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">Confirm Flight</div>
            <div class="right"></div>
        </ons-toolbar>
        <div class="card text-center">
            <div class="card-name">{{summ.flight.flight_number}}</div>
            <div class="card-desc">{{summ.flight.departure_airport}} - San Francisco
                <br>Now time to find you a ride!</div>
            <div class="card-desc">Leaving at {{summ.flight.local_departure_datetime}}</div>
            <ons-button class="button--clear margin-top button-cyclinder" ng-click="summ.findRide()">Find Ride</ons-button>
        </div>
    </ons-page>
</div>
