<ons-page ng-controller="HowToCtrl as howt">

   <ons-toolbar>
       <div class="left">
           <ons-toolbar-button ng-click="howt.cancelOnboarding()">
               Close
           </ons-toolbar-button>
       </div>
       <div class="center">Welcome to Atum</div>
       <div class="right">
           <ons-toolbar-button ng-if="ons.carousel._lastActiveIndex >= 3" ng-click="howt.completedOnboarding()">Done</ons-toolbar-button>
       </div>
   </ons-toolbar>

    <ons-carousel class="carousel" swipeable overscrollable auto-scroll fullscreen var="carousel">
        <ons-carousel-item class="carousel-first">
            <div class="item-image">
                <img src="images/onboarding1.png" class="item-image" alt="View your feed">
            </div>
            <p class="carousel-text">View your schedule on your phone easily.</p>
        </ons-carousel-item>
        <ons-carousel-item class="carousel-second">
           <div class="item-image">
               <img src="images/onboarding2.png" class="item-image" alt="Add your schedule quickly">
           </div>
           <p class="carousel-text">Add your schedule to your phone quickly.</p>
        </ons-carousel-item>
        <ons-carousel-item class-"carousel-third">
            <div class="item-image">
                <img src="images/onboarding3.png" class="item-image" alt="See who you're working with">
            </div>
            <p class="carousel-text">See who you’re working with that day.</p>
        </ons-carousel-item>
        <ons-carousel-item class="carousel-fourth">
            <div class="item-image">
                <img src="images/onboarding4.png" class="item-image" alt="View your coworkers schedule">
            </div>
            <p class="carousel-text">View your coworkers schedule.</p>
        </ons-carousel-item>
        <ons-carousel-item class="carousel-fifth">
            <div class="item-image">
                <img src="images/onboarding5.png" class="item-image" alt="Get reminders">
            </div>
            <p class="carousel-text">Get reminders of when you’re working next.</p>
        </ons-carousel-item>
    </ons-carousel>
</ons-page>