<div ng-controller="ListOfFlightsCtrl as list">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>

            <div class="center">{{list.flights.length}} Flight<span ng-if="list.flights.length != 1">s</span></div>

        </ons-toolbar>

        <!-- search bar -->

        <form class="search-panel">
            <div class="search-panel__field search-input">
                <input class="search-panel__input" type="text" placeholder="Search for flight number" ng-model="searchFilter">
            </div>
        </form>

        <!-- end search bar -->

        <!-- screen shown when no flights are found -->

        <div class="card text-center animated fadeIn" ng-if="!list.flightsAvailable">
            <div class="card-name">Sorry no flights were found for this date.</div>
            <div class="card-desc">Please select a different date.</div>
            <ons-button class="button--clear margin-top button-cyclinder" ng-click="nav.back()">Go Back</ons-button>
        </div>

        <!-- end of screen shown when no flights are found -->

        <!-- list of flights shown when no flights are found -->

        <ons-list class="flight-list animated fadeIn" ng-if="list.flightsAvailable">
            <ons-list-header>Please select a flight</ons-list-header>
            <ons-list-item flight-list-item modifier="chevron" ng-repeat="flight in list.flights | filter:searchFilter | orderBy: 'flight_number'" ng-click="list.goToFlightSummary(flight)">
                <ons-row>
                    <ons-col width="80px">
                        <img ng-src="http://a3.mzstatic.com/au/r30/Purple69/v4/52/79/9e/52799eef-edf5-18e7-92a2-bd069da18ec9/icon175x175.png"
                            class="item-thum animated fadeIn"></img>
                    </ons-col>
                    <ons-col>
                        <span class="item-title">{{flight.flight_number}}</span>
                        <span class="item-label">Leaving at: {{flight.local_departure_datetime | readableTime}}</span>
                        <p class="item-desc">{{flight.carrier}}</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <!-- end of list of flights shown when no flights are found -->

    </ons-page>
</div>
