<div ng-controller="ListOfFlightsCtrl as list">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>

            <div class="animated fadeIn">
                <div class="center">{{list.flights.length}} Flight<span ng-if="list.flights.length != 1">s</span></div>
                <div class="center" ng-if="list.flights.length === 0">No flights found</div>
            </div>

        </ons-toolbar>

        <!-- search bar -->
        <form class="search-panel" ng-class="(list.flightsAvailable > 0) ? 'visible' : ''">
            <div class="search-panel__field search-input">
                <input class="search-panel__input" type="text" placeholder="Flight number or destination" ng-model="searchFilter">
            </div>
        </form>
        <!-- end search bar -->

        <!-- screen shown when no flights are found -->
        <div class="padd text-muted text-center animated fadeIn semi-bold" ng-if="!list.flightsAvailable">
            <p> Sorry, no flights were found for this date.</p>
            <ons-button class="button--clear margin-top button-cyclinder" ng-click="nav.back()">Go Back</ons-button>
        </div>
        <!-- end of screen shown when no flights are found -->

        <!-- list of flights shown when no flights are found -->
        <ons-list class="flight-list animated fadeIn" ng-if="list.flightsAvailable">
            <ons-list-header>Select your flight</ons-list-header>
            <ons-list-item flight-list-item modifier="chevron" ng-repeat="flight in list.flights | filter:searchFilter | orderBy: 'flight_number'" ng-click="list.goToFlightSummary(flight)">
                <ons-row>
                    <img src="qantas/qantas_logo.png"
                        class="item-thum animated rollIn"/>
                    <ons-col class="item-content">
                        <div class="item-title">
                          {{flight.flight_number}}
                        </div>
                        <div class="item-desc">
                          {{flight.carrier}}
                        </div>
                        <div class="item-label">
                          {{flight.local_departure_datetime | readableTime}} to {{flight.destination_airport_name}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
        <!-- end of list of flights shown when no flights are found -->

    </ons-page>
</div>
