<div ng-controller="MapCtrl as mapv">

    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">Map</div>

            </ons-toolbar>

        <!-- Google map set from $scope -->
<!--         <ng-map class="map" center="map.center"></ng-map>
 -->
        <!-- <ng-map class="map" center="map.center" zoom="map.zoom" set-zoom="map.setZoom" options="map.options"></ng-map> -->

        <div class="search-bar">
            <input type="search" class="search-input search-input-map" ng-model="mapv.currentLocation">
        </div>

        <button class="location-finder" ng-click="mapv.updateCurrentLocation()">
            <ion-icon class="ion-navigate" style="font-size:"></ion-icon>
        </button>

        <div class="map-back-button">
            <ons-button class="button--clear margin-top button-cyclinder button--map"
                ng-click="mapv.requestMatch()">Find match</ons-button>
        </div>

    </ons-page>

</div>