<div ng-controller="MapCtrl as mapv">

    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">Map</div>

            </ons-toolbar>

        <leaflet id="map" class="map animated fadeIn" lf-center="sydney" layers="layers" markers="markers" height="480px" width="100%"></leaflet>

        <div class="search-bar">
            <input type="search" class="search-input search-input-map" ng-model="mapv.currentLocation">
        </div>
<!--
        <button class="location-finder" ng-click="mapv.updateCurrentLocation()">
            <ion-icon class="ion-navigate" style="font-size:"></ion-icon>
        </button> -->

        <div class="map-back-button" ng-show="mapv.matchExists && !mapv.isLoading">
            <ons-button class="button--clear margin-top button-cyclinder button--map"
                ng-click="mapv.cancelRequest()">Cancel request</ons-button>
        </div>

        <div class="map-back-button" ng-show="!mapv.matchExists && !mapv.isLoading">
            <ons-button class="button--clear margin-top button-cyclinder button--map"
                ng-click="mapv.sendRequest()">Find match</ons-button>
        </div>

        <div class="map-back-button" ng-show="mapv.isLoading">
            <ons-button class="button--clear margin-top button-cyclinder button--map">
            <ons-icon icon="ion-loading-c" spin="true"></ons-icon></ons-button>
        </div>

    </ons-page>

</div>