<div ng-controller="MatchConfirmCtrl as mach">

<div class="confirm">

    <ons-page>
        <ons-toolbar>
            <div class="center">Itinerary</div>
        </ons-toolbar>

        <div class="padd text-muted text-center animated fadeIn">
            <p id="flightNumber" class="semi-bold">{{mach.request.flight_number}}</p>
            <p id="depAirportName">{{mach.request.departure_airport_name}}</p>
            <p id="desAirportName">{{mach.request.destination_airport_name}}</p>
            <p id="arrivalTime">{{mach.request.arrival_datetime | readableTime}}</p>
        </div>
            <ons-button class="button--clear margin-top button-cyclinder" ng-click="mach.confirmRequest()">Find a ride</ons-button>
        </div>

    </ons-page>
</div>
