<ons-page ng-controller="OnboardingCtrl as onbd">

   <ons-toolbar>
       <div class="left"></div>
       <div class="center"></div>
       <div class="right"></div>
   </ons-toolbar>

    <ons-carousel class="carousel" swipeable overscrollable auto-scroll fullscreen var="onboardingCarousel">

        <ons-carousel-item class="carousel-first animated fadeIn">
            <div class="item-image">
                <img src="images/onboarding1.png" class="item-image" alt="Select the date you are flying.">
            </div>
            <p class="padd-top-md carousel-text semi-bold"><strong>1.</strong> Select the date of your flight.</p>
            <p class="text-grey swipe-next">
                Swipe next <ion-icon style="padding-left:0.3em; font-size:35px;" class="ion-ios-arrow-thin-right"></ion-icon>
            </p>
        </ons-carousel-item>

        <ons-carousel-item class="carousel-second">
           <div class="item-image">
               <img src="images/onboarding2.png" class="item-image" alt="Add your schedule quickly">
           </div>
           <p class="padd-top-md carousel-text semi-bold"><strong>2.</strong> Select your flight.</p>
           <p class="text-grey swipe-next">
               Swipe next <ion-icon style="padding-left:0.3em; font-size:35px;" class="ion-ios-arrow-thin-right"></ion-icon>
           </p>
        </ons-carousel-item>

        <ons-carousel-item class-"carousel-third">
            <div class="item-image">
                <img src="images/onboarding3.png" class="item-image" alt="See who you're working with">
            </div>
            <p class="padd-top-md carousel-text semi-bold"><strong>3.</strong> Pick how early you would like to arrive at the airport.</p>
            <p class="text-grey swipe-next">
                Swipe next <ion-icon style="padding-left:0.3em; font-size:35px;" class="ion-ios-arrow-thin-right"></ion-icon>
            </p>
        </ons-carousel-item>

        <ons-carousel-item class="carousel-fourth">
            <div class="item-image">
                <img src="images/onboarding4.png" class="item-image" alt="View your coworkers schedule">
            </div>
            <p class="padd-top-md carousel-text semi-bold"><strong>4.</strong> Choose how many people you're travelling with.</p>
            <p class="text-grey swipe-next">
                Swipe next <ion-icon style="padding-left:0.3em; font-size:35px;" class="ion-ios-arrow-thin-right"></ion-icon>
            </p>
        </ons-carousel-item>

        <ons-carousel-item class="carousel-fifth">
            <div class="item-image">
                <img src="images/onboarding5.png" class="item-image" alt="Get reminders">
            </div>
            <p class="padd-top-md carousel-text semi-bold"><strong>5.</strong> Set a pickup location and we'll find you a rideshare to the airport.</p>
            <ons-button class="button--map margin-top button-cyclinder" ng-click="onbd.start()">Get started</ons-button>
        </ons-carousel-item>

    </ons-carousel>
</ons-page>
