<ons-page ng-controller="ResetPasswordCtrl as rest">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="nav.setRootPage('authCtrl')">Close</ons-toolbar-button>
        </div>
        <div class="center">Reset Password</div>
        <div class="right">
            <ons-toolbar-button ng-click="rest.resetPassword()" ng-if="rest.phone">Reset</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="padd">
        <input class="text-input text-input--underbar" name="number" type="text" min="5" inputmode="numeric" pattern="[0-9]*"
          placeholder="Enter your mobile number" ng-model="rest.phone" autofocus required>
    </div>

    <p class="text-muted text-center small padd">Enter your mobile number and we'll SMS you a new password.</p>

</ons-page>
