<div ng-controller="RideCountCtrl as ride">

    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center animated fadeIn">Number of Travellers</div>
        </ons-toolbar>

        <div class="textOne padd text-muted text-center animated fadeIn">
            <p>How many people are in your party?</p>
        </div>

        <div class="text-center">
            <ons-button id="buttonOne" class="circle-thick button--clear margin-top button-radius margin-md" ng-click="ride.submitValue(1)">One</ons-button>
            <ons-button id="buttonTwo" class="circle-thick button--clear margin-top button-radius margin-md" ng-click="ride.submitValue(2)">Two</ons-button>
        </div>

    </ons-page>

</div>
