<div ng-controller="RideCountCtrl as ride">

    <ons-page>
        <ons-toolbar>
            <div class="left">
                <shifts-left-button></shifts-left-button>
            </div>
            <div class="center">How many travelling?</div>
        </ons-toolbar>

        <div class="removeElement">
            <div class="textOne padd text-muted text-center">
                <p>How many people travelling?</p>
            </div>

            <div class="text-center">
                <ons-button class="buttonOne button--clear margin-top button-radius margin-md"
                    ng-click="ride.submitValue(1)">One</ons-button>
                <ons-button class="buttonTwo button--clear margin-top button-radius margin-md"
                    ng-click="ride.submitValue(2)">Two</ons-button>
            </div>
        </div>

    </ons-page>

</div>