<ons-dialog var="changeProfilePhotoDialog" cancelable animation="iosAlertStyle" ng-controller="profileImageDialogCtrl as dlg">

    <ons-list class="text-center">
        <ons-list-item modifier="tappable" ng-click="dlg.camera()">
            <div class="invis-input-wrap">
                <input type="file" class="invis-input" ng-file-select="dlg.selectedFile($files)">
                <div class="invis-input-content">
                    Upload new photo
                </div>
            </div>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="dlg.removePhoto()">
            Remove current photo
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="dlg.close()">
            <span class="semi-bold">Cancel</span>
        </ons-list-item>
    </ons-list>

</ons-dialog>