<ons-list ng-repeat="week in schedule">
    <ons-list-header>
        Week of {{week.startOfWeek}}
    </ons-list-header>
    <ons-list-item ng-repeat="shift in week.shifts track by shift.id" ng-click="gotoShift(shift)" modifier="tappable" ng-class="{'shift__day-off': shift.isDayOff}">
        <div class="shift">
            <div class="shift__main" ng-if="!shift.isDayOff">
                <div class="shift__title">
                    {{shift.start | date:'EEEE d'}}{{shift.start | ordinal}} {{shift.start | date:'MMM'}}
                </div>
                <div class="shift__subtitle text-muted" shifts-duration start="shift.start" end="shift.end"></div>
            </div>

            <div class="shift__main" ng-if="shift.isDayOff">
                <div class="shift__title text-muted">
                    {{shift.start | date:'EEEE d'}}{{shift.start | ordinal}} {{shift.start | date:'MMM'}}
                </div>
                <div class="shift__coworker-summary shift__subtitle text-muted" ng-if="shift.coworkers.length">
                    <span>With {{shift.coworkers.length}} other<span ng-if="shift.coworkers.length - 2 !== 1">s</span>
                </div>
            </div>

            <div class="shift__accessory shift__times" ng-if="shift.end">
                <div class="shift__start">
                    <span class="text-muted">from</span> {{shift.start | date:'shortTime'}}
                </div>
                <div class="shift__end">
                    <span class="text-muted">to</span> {{shift.end | date:'shortTime'}}
                </div>
            </div>

            <div class="shift__accessory shift__times" ng-if="shift.isDayOff">
                <div class="shift__start">
                    <em class="text-muted">day off</em>
                </div>
            </div>

            <div class="shift__coworker-summary shift__subtitle text-muted" ng-if="shift.coworkers.length && !shift.isDayOff">
                <ons-icon icon="ion-ios7-person" style="vertical-align: -12%;" ng-if="shift.coworkers.length == 1"></ons-icon>
                <ons-icon icon="ion-ios7-people" style="vertical-align: -12%;" ng-if="shift.coworkers.length != 1"></ons-icon>

                <!-- Must all be on one line to remove extra whitespace -->

                With <span>{{shift.coworkers[0].owner.displayName}}</span><span ng-switch="shift.coworkers.length"><span ng-switch-when="1"><!-- Empty on purpose --></span><span ng-switch-when="2"> and {{shift.coworkers[1].owner.displayName}}.</span><span ng-switch-default>, {{shift.coworkers[1].owner.displayName}} and {{shift.coworkers.length - 2}} other<span ng-if="shift.coworkers.length - 2 !== 1">s</span>.
                    </span>
                </span>
            </div>
        </div>
    </ons-list-item>
</ons-list>