<ons-list>
    <ons-list-header ng-if="listHeader">{{listHeader}}</ons-list-header>
    <form class="search-panel" ng-class="{'search-panel--has-text': searchTerm}" ng-if="searchEnabled">
        <div class="search-panel__field search-input" ng-click="focus('searchInput')">
            <input class="search-panel__input" type="text" placeholder="Search" required ng-model="search.term" shifts-focus-on="searchInput">
        </div>
        <ons-button modifier="quiet" class="search-panel__button" ng-click="cancelSearch()">
            Cancel
        </ons-button>
    </form>
    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="user in users | filter:search.term"
        ng-click="nav.goto('profileCtrl', {profileId: user.id})">
        <div class="list-item-left">
            <img ng-src="{{user.profilePhoto.href}}/-/scale_crop/80x80/" class="avator" ng-if="user.profilePhoto">
            <img ng-src="{{user.defaultPhoto}}&s=80" class="avator" ng-if="!user.profilePhoto">
        </div>
        <div class="list-item-right">
            <div class="list-item-content">
                <div class="name">{{user.displayName}}</div>
                <div class="profile-desc--cell" ng-if="user.bio">{{user.bio}}</div>
            </div>
        </div>
    </ons-list-item>
</ons-list>