app-font = 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif


// Main vars
spacing = 20px
brand-blue = #353752
brand-blue-darker = #27293E

begin-grad-blue = #3B5998
end-grad-blue = #353752

grey = #8e8e8e
grey--trans = rgba(142, 142, 142, 0.52)
dark-grey = #e2e2e4
light-grey = #d4d4d4

brand-black = #5f6a7d
brand-green = #3DAF2C
color-danger = #FA4934

// qantas colors
qantas-red = #EE0000
qantas-red-darker = #68000C

inner-spinner = #101018

border-color = #979797
border-color-alt = #3b5998

btn-text-color = #007aff
border-color = #EEE

background-color = #f9f9f9

color-gray = #c8c7cc
color-gray-darker = #9B9B9B

font-size-small  = 12px
font-size-base   = 14px
font-size-large  = 18px
font-size-xlarge = 22px
font-size-ridic  = 30px

navbar-height = 43px
nextshift-height = 50px

keypad-height = 220px
key-height = 25%
key-width = 25%

border-radius-base = 5px

iphone-5 = "(max-width: 320px)"