//fades for animation.css

.fade-in-fast
    -webkit-animation-duration 200ms
    -moz-animation-duration 200ms
    -o-animation-duration 200ms

    -webkit-animation-delay 500ms
    -moz-animation-delay 500ms
    -o-animation-delay 500ms

.fade-in-med
    -webkit-animation-duration 700ms
    -moz-animation-duration 700ms
    -o-animation-duration 700ms

    -webkit-animation-delay 500ms
    -moz-animation-delay 500ms
    -o-animation-delay 500ms

.fade-in-slow
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s

    -webkit-animation-delay 900ms
    -moz-animation-delay 900ms
    -o-animation-delay 900ms

// animations for animations.css

.hue-60s-linear
    -webkit-animation hue 60s linear
    // -moz-animation hue 60s linear
    // -o-animation hue 60s linear