.page
  background-color white !important /* For Safari 5.1 to 6.0 */
  reset-font()
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  overflow visible
  font-size var-font-size
  color grey
.page::-webkit-scrollbar
  display none

.page__content
  background white !important /* For Safari 5.1 to 6.0 */
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  box-sizing border-box
  margin-top -1px

.page__background
  background-color white !important
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  box-sizing border-box

.content-padded
  padding 8px

.page--white-bg.page--white-bg
  &, .page__content
    background: white !important
