.spinner
    max-width: 250px
    margin: 50px auto
    text-align: center

.spinner__text
    font-size: .8em
    color: color-gray-darker

.button--spinner__spin
    pointer-events: none

    &.effeckt-button > .spinner
        color = darken(color-gray-darker, 15%)
        border-top 1px solid color
        border-left 1px solid color
        border-right 1px solid color