{
    appIdentifier: 'io.attd.qantasapp'
    appDisplayName: 'Qantas'
    iosIcons: {  base: 'buildAssets/prod-icon' }
    apiBase: 'http://api.attd.io'
    build: minifyAssets: true
    defaultShiftReminderTime: 3 * 24 * 60 # 3 days

    # Tells build not load hotfix script
    loadHotfix: false
}
