{
    appIdentifier: 'com.qantas.tothedoor'
    appDisplayName: 'Qantas'
    iosIcons: {  base: 'buildAssets/prod-icon' }
    apiBase: 'https://api.getshifts.co'
    uploadcarePublicKey: '8c6e1e1c8b0b12e3f95e'
    segmentioKey: '3Rgz7IJLmgdHKYvYCjmNaBiDN8LHMTo0'
    cloudfrontDistributionId: 'EZRZ0HKGHQ5J1'

    s3WebAppBucketName: 'robby-web-mobile-app'
    build: minifyAssets: true
    defaultShiftReminderTime: 3 * 24 * 60 # 3 days

    # Tells build not load hotfix script
    loadHotfix: false
}