{
    appIdentifier: 'com.qantas.tothedoorTest'
    appDisplayName: 'QantasTest'
    apiBase: 'http://staging.attd.io'
    defaultShiftReminderTime: 1 # 1 minute

    # Tells build to load hotfix script
    loadHotfix: true
}
