@font-face {
  font-family: 'Brauer Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Brauer Neue Regular'), local('Brauer-Neue-Regular'), url('./fonts/lineto-brauer-neue-regular.woff') format('woff');
}